@model ViewModels.Constancias.BautismoConstanciaViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.NombreBautizado</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        * {
            padding: 5px;
        }

        #sanAntonio {
            width: 180px;
            height: 180px;
            float: left;
            margin-left:15%;
            margin-right:10%;
        }

        .espacio {
            margin-bottom: -10px;
        }

        hr {
            background-color: #088A08;
            height: 1px;
            border: 0;
            color: #088A08;
        }

        #parrafo {
            font-size: 22px;
            margin-top: 15px;
            margin-left: 25px;
            margin-right: 15px;
        }

        .tabla {
            font-size: 20px;
            /*margin: auto;
            width: 50%;*/
            padding: 10px;
        }
        .aumentoLetra{
            font-size:20px;
        }
        .footer{
            margin-top:20%;
        }
    </style>
</head>
<body>
    <div class="">
        <div class="">
            <div class="imagen">
                <img src="~/images/san-antonio-de-padua.jpg" id="sanAntonio">
            </div>
            <div class="">
                <div class="contenedorTexto">
                    <h5 class="espacio">Diócesis de Suchitepéquez - Retalhuleu</h5>
                    <h3 class="espacio">Parroquia San Antonio de Padua</h3>
                    <h3 class="espacio">Retalhuleu</h3>
                </div>
            </div>

            <div class="col-md-12" style="margin-top:10%;">
                <h1 class="text-center">CERTIFICACIÓN PRIVADA DE BAUTISMO</h1>
                <hr>

                <p id="parrafo">
                    El infraescrito Párroco certifica tener a la vista el Libro de Bautismo @Model.Libro, folio @Model.Folio en el que aparece inscrito el Bautismo de:
                </p>
            </div>

            @*<div class="col-md-8 col-md-offset-4 text-center tabla">*@
            <div class="col-md-12 text-center tabla">
            <table class="table table-striped">
                <tr>
                    <th class="text-right">Nombre:</th>
                    <td>@Model.NombreBautizado</td>
                </tr>
                <tr>
                    <th class="text-right">Bautizado(a):</th>
                    <td>@Model.FechaBautismo</td>
                </tr>
                <tr>
                    <th class="text-right">Quién Nació el día:</th>
                    <td>@Model.FechaNacimiento</td>
                </tr>
                <tr>
                    <th class="text-right">Hijo de:</th>
                    <td>@Model.PadresBautizado</td>
                </tr>
                <tr>
                    <th class="text-right">Sus Padrinos fueron:</th>
                    <td>@Model.PadrinosBautizado</td>
                </tr>
                <tr>
                    <th class="text-right">Observaciones:</th>
                    <td>@Model.Observaciones</td>
                </tr>
            </table>
        </div>

            <div class="col-md-12" style="margin-top:12%;">
                <strong>
                    <b style="margin-left:25%; font-size:20px;">Doy fe.</b>
                </strong>

                <p class="text-center aumentoLetra">@Model.FechaConstancia</p>
                <br>
                <p class="text-center espacio aumentoLetra">@Model.RealizadoPorSacerdote</p>
                <p class="text-center espacio aumentoLetra">@Model.RealizadoPorPuestoSacerdote</p>
            </div>

            <div class="col-md-12 footer">
                <hr>
                <footer>
                    <p class="text-center">
                        Oficina Parroquial Central Retalhuleu, Guatemala C.A. Telefono: 7771-0059 Fax 7771-4583
                    </p>
                </footer>
            </div>
        </div>
    </div>

</body>
</html>